<div class="h-100 wrapper d-flex align-items-center justify-content-center">
  <div class="text-black w-75 p-3 rounded-4 bg-warning">
    <h2 class="text-center log-fs">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    label: false,
                    autofocus: true,
                    input_html: {placeholder: "Email" , autocomplete: "email", class: "rounded-pill fs-5 p-2 w-100 my-3" } %>
        <%= f.input :password,
                    required: true,
                    label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", placeholder: "Password", class: "rounded-pill fs-5 p-2 w-100 my-3" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "new-password", placeholder: "Password",  class: "rounded-pill fs-5 p-2 w-100 my-3" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "bg-dark text-light w-100 fs-4 rounded-pill" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
