
<% if appointments.any? %>
  <% appointments.each do |appointment| %>
    <div class="mx-3 bg-owner rounded-3 my-3 p-3 text-white ">
      <div class="text-center mb-2">
        <span class="dashboard-border pb-2 fw-bold">
          <%= appointment.start_time.strftime("%H:%M") %> - <%= appointment.finish_time.strftime("%H:%M") %>
        <span>
      </div>

      <div class="d-flex gap-2 align-items-center dashboard-border pb-2">
         <%#  ------- Appointment Upper section ---------%>

        <div class="dashboard-img rounded-circle">
          <% if appointment.goal_image.attached? %>
            <%= image_tag appointment.goal_image, class: "rounded-circle dashboard-img " %>
          <% else %>
            <div class="dashboard-img d-flex align-items-center justify-content-center rounded-circle bg-dark">
              <%= image_tag "user.png", alt: "no avatar image", class: "w-50"%>
            </div>
          <% end %>
        </div>

        <div class="d-flex flex-column w-100">
          <span class="mt-2 text-start">costumer: <%= appointment.user.name %></span>
          <span class=" text-end">with: <%= appointment.professional.name %></span>
        </div>

        <div>
          <%= image_tag appointment.professional.photo, class: "rounded-circle dashboard-img mt-4" %>
        </div>
      </div>
        <%#  -------/ Upper section ---------%>

        <%#  ------- Appointment Lower section ---------%>
        <div class="pt-3">
            <div class="d-flex justify-content-center align items-center flex-column">
              <h6 class="text-center">Services</h6>
                <% appointment.services.each do |service| %>
                  <div class="d-flex align-items-center">
                    <span class="ps-2"><%= service.name.capitalize %></span>
                    <div class="line mx-4"></div>
                    <span> ¥<%= number_with_delimiter(service.price, delimiter: '.') %> </span>
          </div>
                <% end %>
                <p class="ps-2 mb-0 pt-2"><span class="fw-bold">Total:</span> ¥<%=number_with_delimiter(appointment.services.sum(:price), delimiter: '.')  %></p>
            </div>
        </div>


    </div>
  <% end %>
<% else %>
  <div class="text-center">
   No appointments for this day yet!
  </div>
<% end %>
