<div class="wrapper text-light" data-controller="appointment">
  <%= simple_form_for @appointment, html: {data: { action: "submit->appointment#validateForm"}} do |f|%>
    <div id="header" class="d-flex mx-3  align-items-center justify-content-between py-3">
      <%= link_to appointments_path, class: "rounded-3 fs-4 back-btn" do%>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <h2 class="m-0">Appointment</h2>
      <div class="text-center">
        <%= f.input :photo, as: :file, input_html: { accept: "image/*", id: "photo-input", style: "display: none;" }, label: false %>
        <label for="photo-input" id="photo-button">
          <i class="fa-solid fa-camera-retro fa-xl"></i>
        </label>
      </div>
    </div>
    <%#--------- Services ---------%>
    <div class="mx-3">
      <h6>Pick Your services</h6>
        <span class="text-danger" data-appointment-target = "serviceError"></span>
        <div class="d-flex align-items-center gap-2 overflow-auto hide-scrollbar mb-3" >
            <%= f.collection_check_boxes :service_ids, @services, :id, :name do |cb| %>
              <div class="service-item">
                <%= cb.check_box class: "tag-selector", data: { appointment_target: "checkbox", action: "change->appointment#checkProfessional" } %>
                <%= cb.label class: "d-flex flex-column align-items-center" do %>
                  <span class="text-nowrap"><%= cb.text %></span>
                  <span>¥<%= number_with_delimiter(@services.find(cb.value.to_i).price, delimiter: ".") %></span>

                <% end %>
              </div>
            <% end %>
        </div>

        <%# ----------- professionals ----------- %>
        <h6>Pick you professional</h6>
        <span class="text-danger" data-appointment-target = "professionalError"></span>
        <div class="d-flex gap-2" data-appointment-target="professionalsList" >
          <% @professionals.each do |professional| %>
            <div class="w-25 d-flex align-items-center justify-content-center">
              <%= f.radio_button :professional_id,  professional.id, id: "professional_#{professional.id}",data: { action: "change->appointment#enableCalendar" }, class: "professional-selector", disabled: true %>

              <%= f.label :professional_id, for: "professional_#{professional.id}", class: "d-flex flex-column align-items-center" ,
               data: {start: professional.start_at.strftime("%H:%M") ,
               finish: professional.finish_at.strftime("%H:%M"),
               appointment_target: "professionalLabel",
               services: professional.services.pluck(:id).join(',') } do
              %>
                <span><%= image_tag professional.photo, class: "professional-img rounded-circle" %></span>
                <span><%= professional.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>

    <div class="m-3 mb-3">
      <h6>Pick a date</h6>
      <span class="text-danger" data-appointment-target = "dateTimeError"></span>
      <div data-action="click->appointment#selectDate" data-appointment-target="calendar">
        <%= month_calendar do |date|  %>
          <div data-date=<%= date %> class="day-selector">
            <%= date.day %>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :date, id: "selected-date", data: { appointment_target: "date"} %>
      <div class="d-flex align-items-center gap-2 overflow-auto hide-scrollbar mb-3" data-appointment-target="timesList">
      </div>
        <%= f.hidden_field :start_time, id: "selected-time", data: { appointment_target: "time"} %>
    </div>

    <%= f.submit "Let's Cut!" , class: "mx-2 py-3 bg-warning rounded-5 text-center fs-3 appointment-btn" %>
  <% end %>
</div>
